.metismenu .arrow {
    float: right;
    line-height: 1.42857;
  }
  .metismenu .collapse {
    display: none;
  }
  .metismenu .collapse.in {
    display: block;
  }
  .metismenu .collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: .35s;
    -o-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transition-property: height, visibility;
    -o-transition-property: height, visibility;
    transition-property: height, visibility;
  }
  [dir=rtl] .metismenu .arrow {
    float: left;
  }
.topbar {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
  }
.topbar .topbar-left {
    background: #313742;
    float: left;
    text-align: center;
    height: 64px;
    position: relative;
    width: 240px;
    z-index: 1;
}
.navbar-default {
    background-color: #ffffff;
    border-radius: 0;
    border: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 0;
    padding: 0 20px;
}
.navbar-default .navbar-left li a.menu-item {
    padding: 0 15px;
    line-height: 64px;
  }
.logo {
    color: #313a46 !important;
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 64px;
}
.nav .dropdown .dropdown-toggle {
    height: 64px;
}
.dropdown-menu{
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
    border: 1px solid rgba(152, 166, 173, 0.15);
}
.user-box a.user-link {
    padding-top: 17px !important;
    padding-bottom: 17px !important;
  }
.user-box .user-img {
    position: relative;
    height: 36px;
    width: 36px;
    margin: 0 auto;
  }
  .navbar-default .right-menu-item {
    height: 36px;
    width: 36px;
    padding: 0;
    font-size: 22px;
    border: 2px solid transparent !important;
    line-height: 33px;
    text-align: center;
    margin: 17px 5px;
    background-color: transparent !important;
  }
  .navbar-default .right-menu-item .badge {
    position: absolute;
    top: -8px;
    right: -2px;
  }
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:focus,
  .navbar-default .navbar-nav > .open > a:hover {
    background-color: rgba(49, 58, 70, 0.05);
  }
  .side-menu {
    width: 240px;
    z-index: 10;
    background: #2f353f;
    bottom: 0;
    margin-top: 0;
    padding-bottom: 30px;
    position: fixed;
    top: 64px;
    border-right: 1px solid #2f353f;
  }
  .side-menu .waves-effect .waves-ripple {
    background-color: rgba(30, 166, 154, 0.4);
  }
  .enlarged .side-menu {
    position: absolute;
  }
  .content-page {
    margin-left: 240px;
    overflow: hidden;
  }
  .content-page .content {
    padding: 0 10px 10px 10px;
    margin-top: 70px;
  }
  .button-menu-mobile {
    border: none;
    color: #313a46;
    display: inline-block;
    height: 36px;
    width: 36px;
    background-color: #ffffff;
    border-radius: 2px;
    font-size: 16px;
    margin: 17px 10px;
  }
ul.side-menu-nav > li > a{
    color: rgba(255, 255, 255, 0.6);
    display: block;
    text-decoration: none;
    font-weight: 300;
    padding: 10px 20px;
    margin:2px 0;
}
ul.side-menu-nav> li> a:hover{
    color: #fff;
    background-color: #2a2f38;
}
ul.side-menu-nav> li.active> a {
  color: #fff;
  background-color: #2a2f38;
}
ul.side-menu-nav> li> a> i{
    width:3.5rem;
}
ul.side-menu-nav> li> a.side-menu-collapse[data-toggle="collapse"] {
    position: relative;
}

ul.side-menu-nav> li> a.side-menu-collapse[aria-expanded="false"]::before, a.side-menu-collapse[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 1em;
}
ul.side-menu-nav> li> a.side-menu-collapse[aria-expanded="true"]::before {
    content: '\e260';
}
#sidebar-menu ul ul a {
  font-size: 0.9em !important;
  padding-left: 6rem !important;
}
#sidebar-menu ul ul  ul a {
  font-size: 0.9em !important;
  padding-left: 7.5rem !important;
}
#username {
    margin-top: 11px;
}
#username h4 {
    color: #313a46;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 10px 0;
    font-weight: 600;
    padding: 2px;
}

@media (min-width: 768px) {
    .navbar-nav {
        float: left;
        margin: 0;
    }
    .navbar-right {
        float: right !important;
        margin-right: -5px;
    }
}